@font-face {
  font-family: unna;
  src: url("./assets/fonts/UNNAMonumentGrotesk-Heavy.woff");
}
body {
  background-color: #e7ff57;
  overflow: hidden;
  
}

* {
  line-height: 1.1em;
}

#svg1 {
  fill: red !important;
}
#timeText {
  background-color: none;
  fill: none;
  display: inline-block;
  width: 300px;
  /* left: 200px; */
  position: relative;
  color: #fe8450;
}
#timeText2 {
  background-color: none;
  fill: none;
  display: inline-block;
  width: 300px;
  /* left: 200px; */
  position: relative;
  color: #fe8450;
}
#svg1 {
  position: absolute;
  width: 50vw;
}
#svg12 {
  position: absolute;
  width: 90vw;
}
#time {
  font-family: unna;
  font-size: 2.5em;
  text-align: center;
  left: -1vw;
  top: 16vh;
  position: fixed;
  transform-origin: center center;
  /* border: 1px solid white; */
  /* width: 150px; */
  height: 50px;
  /* box-shadow: 1px 1px 40px 10px blue; */
  /* font-style: italic; */
  /* border-radius: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#time2 {
  font-family: unna;
  font-size: 1.8em;
  text-align: center;
  left: -4vw;
  top:10vh;
  position: fixed;
  transform-origin: center center;
  /* border: 1px solid white; */
  /* width: 150px; */
  height: 50px;
  /* box-shadow: 1px 1px 40px 10px blue; */
  /* font-style: italic; */
  /* border-radius: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.catch1 {
  font-family: unna;
  width: 40vw;
  font-size: 3em;
  position: absolute;
  bottom: -0px;
  line-height: 1.1em;
  height: auto;
  left: 20px;
}
.catch2 {
  font-family: unna;
  width: 100vw;
  font-size: 1.8em;
  position: absolute;
  bottom: -0px;
  line-height: 1.1em;
  height: auto;
  left: 20px;
  z-index: 100;
}
#signup {
  font-family: unna;
  font-size: 3.5em;
  text-align: center;
  right: 0vw;
  top: 0vh;
  position: absolute;
  /* transform-origin: center center; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  margin: 20px;
  padding: 0px;
}
#signup2 {
  font-family: unna;
  font-size: 1.8em;
  text-align: center;
  right: 0vw;
  top: 0vh;
  position: absolute;
  /* transform-origin: center center; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* margin: 20px; */
  padding: 0px;
}

.conecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  position: absolute;
  right: -10px;
  bottom: 0px;
}
.conecontainer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: absolute;
  right: -10px;
  bottom: 50px;
}

.cone {
  width: 100%;
}

.signupcone {
  position: absolute;
  font-family: unna;
  font-size: 3em;
text-decoration:none;
  color: #fe8450;
  text-align: center;
}
.signupcone2 {
  position: absolute;
  font-family: unna;
  font-size: 1.8em;
text-decoration:none;
  color: #fe8450;
  text-align: center;
}

#innersignup:visited {
  color: black;
}
path {
  fill: inherit;
  stroke: inherit;
}
#screen {
  fill: dodgerblue;
}
rect {
  fill: #d5d5d5;
}

#innersignup, #innersignup2,
#timeText, #timeText2 {
  text-decoration: none;
}
#innersignup {
  color: black;
  line-height: 1.1em;
  text
}
#innersignup2 {
  color: black;
  line-height: 1.1em;
  font-size: .8em;
}

@media only screen and (max-width: 768px) {
  .desktop {
    display: none;
  }
}
@media screen and (min-width:768px) {
  .mobile {

    display: none;
  }
}

@keyframes mymove {
  10% {transform: rotate(36deg);}
  20% {transform: rotate(72deg);}
  30% {transform: rotate(108deg);}
  40% {transform: rotate(144deg);}
  50% {transform: rotate(180deg);}
  60% {transform: rotate(216deg);}
  70% {transform: rotate(252deg);}
  80% {transform: rotate(288deg);}
  90% {transform: rotate(324deg);}
  100% {transform: rotate(1080deg);}

}




.logobox {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  top: 0px;
  position: absolute;
  z-index: 200;
}
.logobox2 {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  top: 0px;
  position: absolute;
  z-index: 200;
  pointer-events:none

}
#logo {
  width: 180px;
  left: 0vw;
  top: 16vh;
  /* position: relative; */
}
#logo2 {
  width: 120px;
  left: 0vw;
  top: 13vh;
  animation: mymove 10s infinite ease;
  animation-iteration-count:infinite;
  pointer-events:none

  /* position: relative; */
}
.sportlink {
  width: 16%;
}
.sportimage {
  position: relative;
  width: 100%;
}
.sportimage:hover {
  cursor: pointer;
}

#image1 {
  margin: 4px;
}
#image2 {
  margin: 4px;
}
#image3 {
  margin: 4px;
}

#image4 {
  margin: 4px;
}
#image5 {
  margin: 4px;
}
#image12 {
  margin: 4px;
}
#image22 {
  margin: 4px;
}
#image32 {
  margin: 4px;
}

#image42 {
  margin: 4px;
}
#image52 {
  margin: 4px;
}
.imagebox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.word {
  visibility: hidden;
  font-family: unna;
  font-size: 2em;
  margin: 2em;
  margin-bottom: 0;
}

.wordbox {
  position: absolute;
  bottom: 0px;
  display: flex;
  width: 100vw;
  justify-content: space-between;
}
